.background{
    /* Home Page */
    position: relative;
    width: 100%;
    height: 100%;

    background: #FFFFFF;
}

.topcolor{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 78.44%;

    background: #4931E8;
}

.content-bg{
    /* Rectangle 2 */

    position: absolute;
    left: 2.1%;
    right: 2.1%;
    top: 11.5%;
    bottom: 13.34%;
  
    background: #FFFFFF;
    border-radius: 20px;
}

.welcomeText{
        /* Welcome to ScriBe */


    position: absolute;
    left: 8.2%;
    // right: 27.31%;
    top: 13.61%;
    bottom: 80.78%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 52px;
    /* identical to box height */


    color: #353535;

}

.welcomeText2{
    /* Chris! */
    position: absolute;
    left: 8.2%;
    // right: 71.94%;
    top: 17.82%;
    bottom: 76.57%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 52px;
    /* identical to box height */
    color: #4931E8;
}


.newAudioButton{
    position: absolute;
    left: 41.36%;
    right: 41.36%;
    top: 35%;
    bottom: 50.65%;
    
}

.audioText{
    position: absolute;
    left: 15%;
    right: 15%;
    top: 45.68%;
    bottom: 50.32%;
    
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    /* identical to box height */
    
    text-align: center;
    
    color: #353535;
    
}

.recentFiles{
    position: absolute;
    left: 41.36%;
    right: 41.36%;
    top: 59%;
    bottom: 30.78%;
}

.recentFilesText{
    /* Create new audio file */


    position: absolute;
    left: 15%;
    right: 20%;
    top: 66%;
    bottom: 30.78%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #353535;

}

.taskbar{
    /* Taskbar */


    position: absolute;
    left: -2.1%;
    right: -3.04%;
    top: 90.28%;
    bottom: -1.19%;

    background: #FFFFFF;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.25);
}

.homeIcon{
    position: absolute;
    left: 10.51%;
    right: 81.07%;
    top: 92.44%;
    bottom: 3.02%;
}


.newAudioIcon{
    position: absolute;
    left: 32.71%;
    right: 57.48%;
    top: 92.44%;
    bottom: 3.02%;

}

.recentFilesIcon{
    position: absolute;
    left: 46%;
    right: 25%;
    top: 92.44%;
    bottom: 3.02%;

}

.infoIcon{
    position: absolute;
    left: 78%;
    top: 92.44%;
    bottom: 3.02%;

}


.logo{
    
    position: absolute;
    left: 34.81%;
    right: 34.91%;
    top: 4.97%;
    bottom: 91.91%;

    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    letter-spacing: 1.18px;

    color: #FFFFFF;
}

.line{
    position: absolute;
    left: 12.15%;
    right: 82.87%;
    top: 96%;
}


.logoutButton{
    position: absolute;
    left: 86.92%;
    right: 8.41%;
    top: 5.4%;
    bottom: 92.44%;
    font-size: 25px;
}
