.background{
    /* Home Page */
    position: relative;
    width: 100%;
    height: 100%;

    background: #FFFFFF;
}

.topcolor{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 78.44%;

    background: #4931E8;
}

.content-bg{
    /* Rectangle 2 */
    position: absolute;
    left: 2.1%;
    right: 2.1%;
    top: 11.5%;
    bottom: 13.34%;
  
    background: #FFFFFF;
    border-radius: 20px;
}

.content-list{
    position: absolute;
    left: 2.1%;
    right: 2.1%;
    top: 30%;
    bottom: 10.69%;
    border-radius: 20px;
}

.taskbar{
    /* Taskbar */


    position: absolute;
    left: -2.1%;
    right: -3.04%;
    top: 90.28%;
    bottom: -1.19%;

    background: #FFFFFF;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.25);
}

.homeIcon{
    position: absolute;
    left: 10.51%;
    right: 81.07%;
    top: 92.44%;
    bottom: 3.02%;
}


.newAudioIcon{
    position: absolute;
    left: 32.71%;
    right: 57.48%;
    top: 92.44%;
    bottom: 3.02%;

}

.recentFilesIcon{
    position: absolute;
    left: 46%;
    right: 25%;
    top: 92.44%;
    bottom: 3.02%;

}

.infoIcon{
    position: absolute;
    left: 80.84%;
    right: 10.75%;
    top: 92.44%;
    bottom: 3.02%;

}


.logo{
    
    position: absolute;
    left: 34.81%;
    right: 34.91%;
    top: 4.97%;
    bottom: 91.91%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    letter-spacing: 1.18px;

    color: #FFFFFF;
}

.line{
    position: absolute;
    left: 57.94%;
    right: 37.07%;
    top: 96%;
}

.recordingText{
     /* ✏️ Headline 5 */

  position: absolute;
  left: 15%;
  right: 15%;
  top: 15.98%;
  bottom: 78.4%;
  
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 52px;
  /* identical to box height */
  
  text-align: center;
  
  color: #353535;
}

.recordingText2{
    /* ✏️ Headline 5 */

 position: absolute;
 left: 15%;
 right: 15%;
 top: 15.98%;
 bottom: 78.4%;
 
 font-family: 'Titillium Web';
 font-style: normal;
 font-weight: 700;
 font-size: 25px;
 line-height: 52px;
 /* identical to box height */
 
 text-align: center;
 
 color: #353535;
}

.scroll {
    width: 96vw;
    height: 82vh;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }

.content-text-background{
    position: center;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0%;
    background: rgb(255, 255, 255);
    
  }

.list{
    position: absolute;
    left: 0%;
    right: 2.1%;
    top: 20%;
    bottom: 10.69%;
    background: #FFFFFF;
    // border-radius: 0;
}

.fileName{
    font-size: 20px;
    color: #353535;
  }

.fileNameServer{
    font-size: 16px;
    color: #353535; 
  }

.checkbox{
    /* Union */


    position: absolute;
    left: 12.85%;
    right: 82.48%;
    top: 28.73%;
    bottom: 69.11%;

    /* Neutral / 100 */

    background: #353535;
}

.fileSelectorBox{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 6px 6px 8px;

    position: absolute;
    left: 11.21%;
    right: 13.08%;
    // top: 59.5%;
    // bottom: 34.56%;
    top: 79%;
    bottom: 15%;
    background: #00C9D3;
    border-radius: 30px;
}

.fileSelectorText{
    /* ✏️ Headline 17 */


    position: absolute;
    left: 13.79%;
    right: 14.72%;
    // top: 61.02%;
    // bottom: 35.96%;
    top: 80.5%;
    bottom: 14%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* or 133% */

    text-align: center;
    letter-spacing: 1.18px;

    color: #ffffff;
}

.ticks{
    position: absolute;
    left: 11.92%;
    right: 81.78%;
    top: 28.4%;
    bottom: 68.68%;

    background: url(../../assets/icons8-checked-checkbox-30.png);
}

.goForwardButton{
    position: absolute;
    left: 67.03%;
    right: 29%;
    top: 37.37%;
    bottom: 60.49%;

    /* Neutral / 100 */

    background: #1E202C;
    // transform: matrix(0, -1, -1, 0, 0, 0);
}

.scroller {
    width: 96%;
    height: 79%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }


.rangeBarPosition{
    position: absolute;
    left: 10.51%;
    right: 10.75%;
    top: 38%;
    bottom: 65%;
}

.knobPosition{
    position: absolute;
    left: 10.51%;
  
    top: 37.3%;
    bottom: 65%;
}

.cust-range{
    --bar-background: #353535;
}

.forwardPlaybackButton{
        /* Vector */
    position: absolute;
    left: 67.26%;
    right: 26.86%;
    top: 52%;
}

.forwardText{
    position: absolute;
    left: 69%;
    right: 26.86%;
    top: 52%;
}

.backwardPlaybackButton{
    position: absolute;
    left: 20%;
    top: 52%;
    // transform: scaleX(-1);
}

.backwardText{
    position: absolute;  
    top: 52%;
    right: 73%;
    left: 23%;
   
}


.pauseButton{
    position: absolute;
    left: 45%;
    top: 51.5%;
}

.closeButton{
    position: absolute;
    left: 90%;
    top: 18%;
    color: #353535;
    font-size: 20px;
}

.playingPattern{
    position: absolute;
    left: 30%;
    top: 65%;
}

.spectrum{
    position: absolute;
    left: 25%;
    top: 65%;
}

.timeDisplay{
    /* Create new audio file */


    position: absolute;
    left: 25%;
    right: 25%;
    top: 68%;
    bottom: 24.08%;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #969696;
}

ion-range{
    --knob-background: #42D8E9;
    --bar-background-active: #42D8E9;
    --bar-background: #D3D3D3;
    --bar-height: 6px;
    --knob-size: 16px;
    --knob-border-radius: 50%;
    --bar-border-radius: 20px;
    // --knob-box-shadow: 0px 0px 0px 3px #fff;
}

.logoutButton{
    position: absolute;
    left: 86.92%;
    right: 8.41%;
    top: 5.4%;
    bottom: 92.44%;
    font-size: 25px;
}

.deletePopUp{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
    bottom: 40%;
    background: #42D8E9;
    border-radius: 30px;
    box-shadow: 0px -4px 25px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.yes{
    position: absolute;
    top: 50%;
    left: 20%;
    right: 60%;
    font-size: 30px;
}

.no{
    position: absolute;
    top: 50%;
    left: 70%;
    right: 20%;
    font-size: 30px;
}

